@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@100&display=swap');

body {
    background-color: #D4D4D4;
}

/* Navbar */
nav.navbar.navbar-expand-lg.navbar-light.bg-light {

    background-color: #212E41 !important;
}

nav a {
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    font-size: 3rem !important;
}

a.navbar-brand {
    color: #C29F5F !important;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 3px solid #292F33;
}

thead th:nth-child(1) {
    width: 30%;
}

thead th:nth-child(2) {
    width: 20%;
}

thead th:nth-child(3) {
    width: 15%;
}

thead th:nth-child(4) {
    width: 35%;
}

th,
td {
    border-bottom: 3px solid #292F33;
}

html {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

thead th,
tfoot th {
    font-family: 'Rock Salt', cursive;
}

th {
    letter-spacing: 2px;
    font-size: 12px;
}

td {
    letter-spacing: 1px;
    font-size: 12px;
}

tbody td th {
    text-align: center;
}

img {
    width: 2.5rem;
    height: auto;
}

p {
    color: #C29F5F;
    font-size: 12px;
    margin: 0;
}

#leagueTable {
    color: #A37F3E;
}

div.col-lg-8.col-md-8.col-sm-12 {
    padding: 0;
}

/* How to change the background colour of the rows */
tr:nth-child(even) {
    background: #374C6D;
}

tr:nth-child(odd) {
    background: #293951;
}

/* Quote Generator */
.quote {
    font-family: 'Roboto', sans-serif;
    background-color: #2A3D5E;
    color: #C29F5F;
    font-weight: bold;
    border: 3px solid #292F33;
}

button.btn.btn-secondary.mt-2.mb-3 {
    font-family: 'Roboto', sans-serif;
    color: #C29F5F;
    font-weight: bold;
    background-color: #292F33;
    border-color: #292F33;
}

/* Club site badges */
#club-sites {
    background: #fff;
    border: none;
}

/* Add hover https://www.w3schools.com/howto/howto_css_zoom_hover.asp */
img:hover {
    transform: scale(1.5);
    transition: .5s;
}

/* Add media query to reduce the size of the badges below a certain screen size */
/* Map */
#map {
    height: 50%;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Loader spinner https://www.w3schools.com/howto/howto_css_loader.asp */
.loader {
    margin: auto;
    border: 16px solid #C29F5F;
    border-top: 16px solid #2A3D5E;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.hide {
    display: none;
}

/* Footer */

a {
    color: #C29F5F;
}

footer {
    color: #C29F5F;
    padding: 1%;
    bottom: 0;
}

/* Trasparent overlay to keep same convention for colors across the website instead of rgba */

div.text-center.p-4 {
    background-color: #00000010;
}

/* https://stackoverflow.com/questions/23201134/transparent-argb-hex-value#:~:text=Transparency%20is%20controlled%20by%20the,mixed%20with%20the%20background%20color. */

.social-networks {
    text-align: center;
}

.social-networks i {
    font-size: 160%;
    margin: 0 1%;
    padding: 0 2%;
    color: #C29F5F;
}

.email-link {
    color: #C29F5F;
}

.bg-light {
    background-color: #212E41 !important;
}