@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@100&display=swap');



/* @import url("https://use.typekit.net/kka1ygx.css"); */

/* Background Image */
/* body {
    background: url("../images/football-pitch1.jpg") center center / cover no-repeat fixed;
    display: block;
    width: 100vw;
    height: auto;
} */

body {
    background-color: #D4D4D4;
}

/* Navbar */
nav.navbar.navbar-expand-lg.navbar-light.bg-light {

    background-color: #212E41 !important;
}

nav a {
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    font-size: 3rem !important;
}

a.navbar-brand {
    color: #C29F5F !important;
}

/* Score Table */
/* div.col-lg-8.col-md-8.col-sm-12 {
    font-family: 'Roboto', sans-serif;
    color: #F5F8Fa;
    font-weight: bold;
} */

table {
    width: 100%;
    border-collapse: collapse;
    border: 3px solid #292F33;
}

thead th:nth-child(1) {
    width: 30%;
}

thead th:nth-child(2) {
    width: 20%;
}

thead th:nth-child(3) {
    width: 15%;
}

thead th:nth-child(4) {
    width: 35%;
}

th,
td {
    /* padding: 20px; */
    border-bottom: 3px solid #292F33;
}

html {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

thead th,
tfoot th {
    font-family: 'Rock Salt', cursive;

}

th {
    letter-spacing: 2px;
    font-size: 12px;
}

td {
    letter-spacing: 1px;
    font-size: 12px;
}

tbody td th {
    text-align: center;
}

/* tfoot th {
    text-align: right;
} */

img {
    width: 40px;
    height: auto;
}

p {
    color: #C29F5F;
    font-size: 12px;
    margin: 0;
}

#leagueTable {
    color: #A37F3E;
}

div.col-lg-8.col-md-8.col-sm-12 {
    padding: 0;
}

/* How to change the background colour of the rows */
tr:nth-child(even) {
    background: #374C6D;
}

tr:nth-child(odd) {
    background: #293951;
}

/* Quote Generator */
.quote {
    font-family: 'Roboto', sans-serif;
    background-color: #2A3D5E;
    color: #C29F5F;
    font-weight: bold;
    border: 3px solid #292F33;
}

button.btn.btn-secondary.mt-2.mb-3 {
    font-family: 'Roboto', sans-serif;
    color: #C29F5F;
    font-weight: bold;
    background-color: #292F33;
    border-color: #292F33;
}

/* Club site badges */
#club-sites {
    background: #fff;
    border: none;
}

/* Add hover  https://success.appen.com/hc/en-us/articles/202703155-CSS-Guidhttps://docs.emmet.io/cheat-sheet/e-to-Enlarge-Images-on-Hover */
.thumbnail:hover {
    position: relative;
    width: 75px;
    height: auto;
    display: block;
    z-index: 999;
}

/* Add media query to reduce the size of the badges below a certain screen size */

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    height: 50%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}


/* Loader spinner https://www.w3schools.com/howto/howto_css_loader.asp */
.loader {
    border: 16px solid #C29F5F;
    border-top: 16px solid #2A3D5E;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.hide {
    display: none;
}